.widget {
  background-color: var(--secondary-color);
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  font-size: 0.875rem;
  line-height: 0.8rem;
  box-shadow: 0px 4px 7px 0px #00000040;
  margin-bottom: 1rem;
}
.widget:hover {
  cursor: pointer;
}
.widget_header {
  display: flex;
  align-items: center;
}
.widget_header span {
  margin-right: 0.5rem;
}

.widget_header h6 {
  font-weight: 700;
  font-size: inherit;
}

.widget p {
  padding-top: 0.5rem;
  font-weight: 400;
  color: var(--navy-blue);
  font-size: inherit;
}
