@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/proxima-nova-2");
/* Global styles heading */
@font-face {
  font-family: "Proxima Soft";
  src: url("../fonts/ProximaSoft-Medium.ttf");
}
:root {
  --primary-color: #4922ff;
  --secondary-color: #eff3fa;
  --secondary-dark: #e6e6e6;
  --secondary-dark-gray: #1b2559;
  --navy-blue: #7882ba;
  --low-vein-blue: #8286ff;
  --font-dm-snas: "DM Sans", sans-serif;
  --font-proxima-nova: "Proxima Nova", sans-serif;
  --bs-radius: 1.25rem !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
audio {
  width: 300px;
  height: 30px;
}
body {
  font-family: var(--font-dm-snas) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
.heading1 {
  font-size: 48px;
  font-weight: bold;
}

.heading2 {
  font-size: 32px;
  font-weight: bold;
}

.heading3 {
  font-size: 24px;
  font-weight: bold;
}

.heading4 {
  font-size: 20px;
  font-weight: bold;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 14px;
}

.primary-color {
  background-color: var(--primary-color);
}

.primary-gradient {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    var(--low-vein-blue) 0%,
    var(--primary-color) 100%
  );
}

.low-vein-blue {
  background-color: var(--low-vein-blue);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.secondary-dark {
  background-color: var(--secondary-dark);
}

.secondar-color {
  color: var(--secondary-dark-gray);
}
.navy-blue {
  background-color: var(--navy-blue);
}

button {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    var(--low-vein-blue) 0%,
    var(--primary-color) 100%
  );
}

button:hover {
  background: radial-gradient(
    103.73% 715% at 100% 100%,
    var(--primary-color) 0%,
    var(--low-vein-blue) 100%
  );
}

.h-sidebar {
  height: 100vh !important;
  max-width: 5.25rem;
  min-width: 5.25rem;
}

.wrapper {
  display: flex;
}

/* main contianer */
.main_container {
  flex-grow: 1;
  background-color: var(--secondary-color);
}

.main_container > .container-fluid {
  padding: 2.625rem 2.5rem;
}

/* card */
.card {
  border-radius: var(--bs-radius) !important;
  padding: 1.5rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.3rem;
}

.card .card_header {
  display: flex;
  align-items: center;
}

.card_header img {
  padding-right: 0.71rem;
  height: 1.25rem;
}

.card_header .actions_area {
  flex-grow: 1;
  text-align: right;
}

.water_repository .repository {
  width: 16.18rem;
  height: 16.18rem;
  border-radius: 50%;
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}
/*  */
.sideBar-container {
  width: 80px !important;
  height: 100vh !important;
}
ul.sidebar-list > li {
  list-style-type: none !important;
  margin-left: 16px !important;
}
.sidebar-icon {
  width: 45px !important;
  height: 43px !important;
}
ul.sidebar-list {
  padding: 0px !important;
}
.sidebar-btn-toggle {
  position: fixed;
  top: 10px;
  left: 13px;
  width: 50px;
  height: 50px;
}
.min-layout {
  position: relative !important;
}
/* header style */
.header-name {
  width: 289px;
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  /* identical to box height, or 67% */
  letter-spacing: -0.02em;
  color: #707eae;
}
.header-thank {
  width: 452px;
  height: 32px;
  font-family: Proxima Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 30px;
  /* identical to box height, or 76% */
  letter-spacing: -0.01em;
}
.form-search {
  height: 46px;
  width: 234.6312255859375px;
  left: 1029px;
  top: 63px;
  border-radius: 10px;
}
.serach-input {
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
}
.header-icon {
  margin-top: -10px !important;
  width: 56px;
  height: 56px;
  /* Secondary/Grey/300 */
  background: #f4f7fe;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.float-right {
  float: right !important;
}
/*  */
.custom-title {
  width: 149.18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #a3aed0;
}
.icon-plus {
  width: 14px;
  height: 14px;
  color: #1b2559;
}
.progress {
  display: flex;
  height: 24px !important;
  border-radius: 20px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 20px !important;
}
.progress-bar {
  padding: 5px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    #8286ff 0%,
    #4922ff 100%
  );
  transition: width 0.6s ease;
}
.icon-progress {
  width: 28px;
  height: 28px;
  background: #eff3fa;
  border-radius: 20px;
  cursor: pointer;
}
.icon-watch {
  position: absolute;
  font-size: x-large;
  padding: 5px !important;
  color: white;
}
.vacation-day {
  width: 90px;
  height: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1b2559;
}
.vacation-until {
  width: 165px;
  height: 21px;
  left: 909px;
  top: 192px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #a3aed0;
}
.custom-h-card {
  height: 120px !important;
}
.tesk-manager-icon {
  width: 60px !important;
  height: 46px !important;
  cursor: pointer;
}
.task-manager {
  width: 235.1px;
  height: 28px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1b2559;
}
.action-icon {
  width: 28px;
  height: 35px;
  color: #1b2559;
}
.task-manager-body {
  padding-top: 12px !important ;
  padding-bottom: 12px !important ;
}
div.check-box > input {
  width: 20px;
  height: 20px;
  background: #eff3fa;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  margin-left: 10px !important;
}
.task-manager-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #1b2559;
}
.devidre {
  width: 97% !important;
  height: 0px;
  border: 1px solid #eff3fa;
  margin-left: 15px;
  margin-right: 15px;
}
.breakplan-title {
  color: var(--secondary-dark-gray);
}
.breakplan-icon {
  margin-top: -10px !important;
  width: 40px;
  height: 40px;
  /* Secondary/Grey/300 */
  background: #f4f7fe;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.breakplan-img {
  width: 30px !important;
  height: 30px !important;
}
.break-user-name {
  margin-top: -10px;
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--secondary-dark-gray);
}
.break-type {
  height: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: var(--navy-blue);
  margin-top: 5px;
}
.break-time {
  float: right;
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-dark-gray);
}
.creat-breack-time {
  height: 64px;
  background: var(--secondary-color);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 20px;
  padding-bottom: 0px;
}
.what-is-breack {
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--secondary-dark-gray);
}
.break-plan {
  height: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: var(--primary-color);
}
