@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Global styles heading */
@font-face {
  font-family: "Proxima Soft";
  src: url("../fonts/ProximaSoft-Medium.ttf");
}
:root {
  --primary-gradient: gradient(
    100% 682.41% at 4.04% 0%,
    #8286ff 0%,
    #4922ff 100%
  );
  --primary-color: #4922ff;
  --secondary-color: #eff3fa;
  --secondary-dark: #e6e6e6;
  --secondary-dark-gray: #1b2559;
  --navy-blue: #7882ba;
  --low-vein-blue: #8286ff;
  --font-dm-snas: "DM Sans", sans-serif;
  --bs-radius: 1.25rem;
  --heading4: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
audio {
  width: 100% !important;
  height: 40px !important;
}
body {
  font-family: var(--font-dm-snas) !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
.heading1 {
  font-size: 48px;
  font-weight: bold;
}

.heading2 {
  font-size: 32px;
  font-weight: bold;
}

.heading3 {
  font-size: 24px;
  font-weight: bold;
}

.heading4 {
  font-size: 20px;
  font-weight: bold;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 14px;
}
.primary-gradient {
  background: var(--primary-gradient);
  color: white;
}
.white-color {
  color: white !important;
}
.primary-color {
  background-color: var(--primary-color);
}

.primary-gradient {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    var(--low-vein-blue) 0%,
    var(--primary-color) 100%
  );
}

.low-vein-blue {
  background-color: var(--low-vein-blue);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.secondary-dark {
  background-color: var(--secondary-dark);
}
.secondary-dark-gray {
  color: var(--secondary-dark-gray);
}
.navy-blue {
  background-color: var(--navy-blue);
}
.musicTitle {
  color: white !important;
}

button {
  border: none;
}

button.btn-primary {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    var(--low-vein-blue) 0%,
    var(--primary-color) 100%
  );
  border: 1px solid #8286ff;
}
.lockScreen {
  padding-top: 20% !important;
  position: fixed !important;
  top: 0px !important;
  left: -100px !important;
  right: 0px !important;
  bottom: 0px !important;
  z-index: 1030000 !important;
  color: black;
  background-color: rgba(0, 0, 0, 0.25);
}

.lockScreenHide {
  display: none !important;
}
/* notify */
.btn-notify {
  float: right !important;
  margin: 5px !important;
}
.card-notify {
  width: 400px !important;
  height: 300px !important ;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.notiy > div.dropdown-menu {
  position: absolute;
  z-index: 1000;
  width: auto !important;
  padding: 0px !important;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background: transparent !important;
  background-clip: padding-box;
  border: none !important;
  border-radius: 0px !important;
}
.card > a.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: unset !important;
}
/*  */
.navDropdomnIcon {
  margin-top: -10px !important ;
  margin-left: -10px !important;
}
.navDropdomnIcon > a {
  color: black !important;
}
.invaleIcone:hover {
  color: #4922ff !important;
}
.navDropdomnIcon > .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0;
  border-left: 0px !important;
}
.showTime {
  position: absolute !important;
  z-index: 9999 !important;
  color: black !important;
  margin-left: 6% !important;
}
.showTimeReverse {
  color: white;
}
/* .selectTime ,.taskManagerTime {
  display: inline  !important;
}
.selectTime{
  width: 10% !important;
}
.taskManagerTime {
width: 80% !important;
} */
.register-container {
  margin: auto !important;
  height: 100vh !important;
  margin: auto;
}
.taskManagerTime > div {
  border: none !important;
}
.taskManagerTime > span > div {
  display: none !important;
}
.taskManagerNavItem:hover {
  background-color: white !important;
}
.taskManagerNavItem > i.delete {
  padding-right: 5px !important;
  color: red !important;
}
.taskManagerNavItem > i.edit {
  padding-right: 5px !important;
  color: green !important;
}
.taskManagerNavItem > i:hover {
  color: #4922ff !important;
}
.button.btn-primary:hover {
  background: radial-gradient(
    103.73% 715% at 100% 100%,
    var(--primary-color) 0%,
    var(--low-vein-blue) 100%
  );
}
.reminderNav {
  color: black !important;
  padding: 0px !important;
  margin: 0px !important;
  margin-right: -20px !important ;
  display: inline-flex;
}
.reminderNav > .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0;
  border-left: 0px !important;
}
.reminderNav > div.dropdown-menu {
  min-width: 50px !important;
  margin-left: -30px !important;
}

.sidebar-container {
  position: fixed !important;
  z-index: 99999 !important;
  background: white !important;
}
.progress-custom {
  margin-left: -10px;
  padding-right: 10px !important;
}
.progress-bar {
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    #8286ff 0%,
    #4922ff 100%
  ) !important;
  transition: width 0.6s ease;
}

.h-sidebar {
  height: 100vh !important;
  max-width: 5.25rem;
  min-width: 5.25rem;
}

.wrapper {
  display: flex;
}

/* main contianer */
.main_container {
  margin-left: 5.25rem;
  flex-grow: 1;
  background-color: var(--secondary-color);
  min-height: 100vh;
}

.main_container > .container-fluid {
  padding: 2.625rem 2.5rem;
}

/* card */
/* .title_area > h4,
.title_area > h6 {
  display: inline-flex;
} */

.card {
  border-radius: var(--bs-radius) !important;
  padding: 1.5rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.2rem;
  color: var(--secondary-dark-gray);
}

.card .card_header {
  display: flex;
  align-items: center;
  color: var(--secondary-dark-gray);
  padding-bottom: 1rem;
  line-height: 20px;
}

.card_header img {
  padding-right: 0.71rem;
  height: 1.25rem;
}

.card_header .actions_area {
  flex-grow: 1;
  text-align: right;
}
.card_header .actions_area > * {
  margin-left: 0.8rem;
  cursor: pointer;
}

.card .card_body {
  padding-top: 0.43rem;
}

/* modal */
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 0;
  color: var(--secondary-dark-gray);
}

.modal .modal-content {
  border-radius: 20px;
  padding: 1.5rem 1.5rem 1rem;
}

.modal .modal-content .container {
  padding: 0;
}

.modal .modal-header {
  color: inherit;
  padding-bottom: 1rem;
  line-height: 20px;
  border-bottom-color: #dee2e6;
}

.modal-header .btn-close {
  padding: 0;
  margin: 0;
}

.modal .modal-body,
.modal .modal-footer {
  padding-top: 0.43rem;
}

.modal .modal-footer button:last-child {
  margin-right: 0;
}

/* form */

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.3rem !important;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}

.form-select:hover {
  cursor: pointer;
}

.section_3 .card .card_header h4 {
  font-size: 20px;
  font-weight: 700;
}

.dropdown-menu {
  min-width: fit-content !important;
  min-width: -moz-fit-content;
  min-width: -webkit-fill-available;
}

/* Event style*/
.event_card .card_header {
  border-bottom: 1px solid #dee2e6;
}

.event_card .card_header div {
  flex-grow: 1;
  text-align: center;
}
/*  */
.sideBar-container {
  width: 80px !important;
  height: 100vh !important;
}
ul.sidebar-list > li {
  list-style-type: none !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #f4f7fe;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  text-align: center !important;
  padding-top: 5px;
}
.sidebar-icon {
  width: 45px !important;
  height: 43px !important;
}
ul.sidebar-list {
  padding: 0px !important;
}
.sidebar-btn-toggle {
  position: fixed;
  top: 10px;
  left: 13px;
  width: 50px;
  height: 50px;
}
.min-layout {
  position: relative !important;
}
/* header style */
.search-icon {
  background: transparent !important;
  padding: 7px;
  padding-right: 10px !important;
  font-size: x-large;
  margin-right: -20px;
  z-index: 333;
  color: var(--secondary-dark);
  cursor: pointer;
}
.header-name {
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  /* identical to box height, or 67% */
  letter-spacing: -0.02em;
  color: #707eae;
}
.header-thank {
  height: 32px;
  font-family: Proxima Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 30px;
  /* identical to box height, or 76% */
  letter-spacing: -0.01em;
}
.header-col-left > div {
  display: inline-block;
  float: right;
  margin-left: 10px;
}
.form-search {
  width: 265px !important ;
}
.serach-input {
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: none;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
}
.search-input2 {
  border: none !important;
  padding-left: 10px !important;
}
.search-input2:focus {
  box-shadow: none !important;
}
.header-icon {
  margin-top: -10px !important;
  width: 56px;
  height: 56px;
  /* Secondary/Grey/300 */
  background: #f4f7fe;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.float-right {
  float: right !important;
}
/*  */
.feel-icon {
  cursor: pointer !important;
  width: 35px !important;
  height: 35px !important;
}
.card-feel-icon {
  display: inline-flex;
  justify-content: space-between;
}
.taskmanagerHeader {
  display: inline-block !important;
}
.custom-h-card h4,
.card_subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #a3aed0;
}
.card_subtitle {
  padding-left: 40px !important;
  display: inline !important;
}
.icon-plus {
  width: 14px;
  height: 14px;
  color: #1b2559;
}

.vacation-day {
  height: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1b2559;
}
.vacation-until {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  color: #a3aed0;
}
.custom-h-card {
  height: 100px !important;
}
.tesk-manager-icon {
  width: 60px !important;
  height: 46px !important;
  cursor: pointer;
}
.task-manager {
  width: 235.1px;
  height: 28px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1b2559;
}
.action-icon {
  width: 28px;
  height: 35px;
  color: #1b2559;
}
.task-manager-body {
  padding-top: 12px !important ;
  padding-bottom: 12px !important ;
}
div.check-box > input {
  width: 20px;
  height: 20px;
  background: #eff3fa;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.task-manager-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #1b2559;
}
.devidre {
  width: 97% !important;
  height: 0px;
  border: 1px solid #eff3fa;
  margin-left: 15px;
  margin-right: 15px;
}

.breakplan-card .card_title {
  color: var(--secondary-dark-gray);
}

.breakplan-icon {
  margin-top: -10px !important;
  width: 40px;
  height: 40px;
  /* Secondary/Grey/300 */
  background: #f4f7fe;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.breakplan-img {
  width: 30px !important;
  height: 30px !important;
}
.break-user-name {
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--secondary-dark-gray);
}
.break-type {
  cursor: pointer;
  height: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: var(--navy-blue);
  margin-top: 5px;
}
.break-type:hover,
.break-time:hover {
  color: #4922ff;
}
.break-time {
  cursor: pointer;
  float: right;
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-dark-gray);
}
.creat-breack-time {
  height: 64px;
  background: var(--secondary-color);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 20px;
  padding-bottom: 0px;
}
.what-is-breack {
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--secondary-dark-gray);
}
.break-plan {
  height: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: var(--primary-color);
}
.red-border-input {
  border-color: red !important;
}

/* Login page */
.notify-badge {
  position: absolute !important;
  margin-top: -10px !important;
  /* margin-left: -15px !important; */
  z-index: 4444 !important;
}
.break-plan-card {
  height: 170px !important ;
  overflow-x: hidden !important;
  overflow-y: auto;
  padding: 10px !important;
}
.important-today-card-body {
  height: 310px !important ;
  overflow-x: hidden !important;
  overflow-y: auto;
  padding: 10px !important;
}
/* width */
.break-plan-card::-webkit-scrollbar,
.important-today-card-body::-webkit-scrollbar,
.dashboard-task-manager-row::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.break-plan-card::-webkit-scrollbar,
.important-today-card-body::-webkit-scrollbar,
.dashboard-task-manager-row::-webkit-scrollbar {
  box-shadow: inherit;
  border-radius: 10px;
}

/* Handle */
.break-plan-card::-webkit-scrollbar,
.important-today-card-body::-webkit-scrollbar,
.dashboard-task-manager-row::-webkit-scrollbar {
  background: gainsboro;
  border-radius: 10px;
}

/* Handle on hover */
.break-plan-card::-webkit-scrollbar-thumb,
.important-today-card-body::-webkit-scrollbar-thumb,
.dashboard-task-manager-row::-webkit-scrollbar-thumb {
  background: #a8a5a5;
  border-radius: 10px;
}
.modal-sub-title {
  font-size: 16px;
}
.clear-all {
  color: #8286ff !important;
}
.paddingBottom {
  padding-bottom: 15px !important;
}
.screen-remainder {
  height: 61px !important;
}
.dashboard-task-manager-row {
  height: 233px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.notifyTime{
  color: #707eae !important;
  font-size: 11px !important;
}
