@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Global styles heading */
@font-face {
  font-family: "Proxima Soft";
  src: url("../fonts/ProximaSoft-Medium.ttf");
}
:root {
  --primary-color: #4922ff;
  --secondary-color: #eff3fa;
  --secondary-dark: #e6e6e6;
  --navy-blue: #7882ba;
  --low-vein-blue: #8286ff;
  --bg-body-primary: #eff3fa;
  --main-font-family: "DM Sans", sans-serif,'Proxima Nova', sans-serif;
  --bs-radius: 1.25rem !important;
  --secondary-dark-gray: #1b2559;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
.heading1 {
  font-size: 48px;
  font-weight: bold;
}

.heading2 {
  font-size: 32px;
  font-weight: bold;
}

.heading3 {
  font-size: 24px;
  font-weight: bold;
}

.heading4 {
  font-size: 20px;
  font-weight: bold;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 14px;
}

.primary-color {
  background-color: var(--primary-color);
}

.primary-gradient {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    var(--low-vein-blue) 0%,
    var(--primary-color) 100%
  );
}

.low-vein-blue {
  background-color: var(--low-vein-blue);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.secondary-dark {
  background-color: var(--secondary-dark);
}

.secondar-color {
  color: var(--secondary-dark-gray);
}
.navy-blue {
  background-color: var(--navy-blue);
}

button {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    var(--low-vein-blue) 0%,
    var(--primary-color) 100%
  );
}

button:hover {
  background: radial-gradient(
    103.73% 715% at 100% 100%,
    var(--primary-color) 0%,
    var(--low-vein-blue) 100%
  );
}

.h-sidebar {
  height: 100vh !important;
  max-width: 5.25rem;
  min-width: 5.25rem;
}

.wrapper {
  display: flex;
}

/* main contianer */
.main_container {
  flex-grow: 1;
  background-color: var(--bg-body-primary);
}

.main_container > .container-fluid {
  padding: 2.625rem 2.5rem;
}

/* card */
.card {
  background: var(--primary-color);
  border-radius: var(--bs-radius) !important;
  padding: 1.5rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.3rem;
}

.card .card_header {
  display: flex;
  align-items: center;
}

.card_header img {
  padding-right: 0.71rem;
  height: 1.25rem;
}

.card_header .actions_area {
  flex-grow: 1;
  text-align: right;
}

.water_pool > div {
  width: 16.18rem;
  height: 16.18rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}
/*  */
.sideBar-container{
  width: 80px !important;
  height: 100vh !important;
}
ul.sidebar-list > li{
  list-style-type: none !important;
  margin-left: 16px !important; 
}
.sidebar-icon{
  width: 45px !important;
  height: 43px !important;
}
ul.sidebar-list{
  padding: 0px !important;
}
.sidebar-btn-toggle{
  position: fixed;
  top:10px;
  left:13px;
  width: 50px;
  height: 50px;

}
.min-layout{
  position: relative !important;
}
/* header style */
.header-name{
  width: 289px;
   height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
/* identical to box height, or 67% */
  letter-spacing: -0.02em;
  color: #707EAE;
}
.header-thank{
  width: 452px;
  height: 32px;
  font-family:Proxima Soft;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 30px;
/* identical to box height, or 76% */
  letter-spacing: -0.01em;
}
.form-search{
  height: 46px;
  width: 234.6312255859375px;
  left: 1029px;
  top: 63px;
  border-radius: 10px;

}
.serach-input{
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
}
.header-icon{
  margin-top: -10px !important;
  width: 56px;
  height: 56px;
  /* Secondary/Grey/300 */
  background: #F4F7FE;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.float-right{
  float: right !important;
}
/*  */
.custom-title{
width: 149.18px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #A3AED0;
}
.icon-plus{
  width: 14px;
  height: 14px;
  color: #1B2559;
}
.progress {
  display: flex;
  height: 24px !important;
  border-radius: 20px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 20px !important;
}
.progress-bar {
  padding: 5px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: radial-gradient(100% 682.41% at 4.04% 0%, #8286FF 0%, #4922FF 100%);
  transition: width .6s ease;
}
.icon-progress{
  width: 28px;
  height: 28px;
  background: #EFF3FA;
  border-radius: 20px;
 cursor: pointer;
}
.icon-watch{
  position: absolute;
  font-size: x-large;
  padding: 5px !important;
  color: white;
}

