@font-face {
  font-family: "Proxima Soft";
  src: url("../fonts/ProximaSoft-Medium.ttf");
}
:root {
  --primary-color: rgb(62, 100, 255);
  --complete-color: #27aa80;
  --text-color: #172b4d;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}

body {
  color: var(--text-color);
  font-family: DM Sans !important;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
  font-family: DM Sans !important;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  font-family: DM Sans !important;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input {
  padding: 4px;
  border: 1px solid var(--disabled-color);
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.8s;
  cursor: pointer;
}
span {
  font-family: DM Sans !important;
}
button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
  position: relative;
}

.item:hover {
  cursor: grab;
}
div.task-check-box > input {
  width: 16px !important;
  height: 16px !important;
  box-shadow: none !important;
  margin-left: 0 !important;
}

.item-title {
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 5px !important;
  width: 100%;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 6px;
  height: 100%;
  position: absolute;
  right: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: -5px;
}

.drop-wrapper,
.drop-wrapper-2 {
  flex: 1 25%;
  width: 100%;
  height: 100%;
  padding: 12px;
  overflow-y: auto !important;
}
/* width */
.drop-wrapper-2::-webkit-scrollbar,
.drop-wrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.drop-wrapper-2::-webkit-scrollbar,
.drop-wrapper::-webkit-scrollbar-track {
  box-shadow: inherit;
  border-radius: 10px;
}

/* Handle */
.drop-wrapper-2::-webkit-scrollbar,
.drop-wrapper::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 10px;
}

/* Handle on hover */
.drop-wrapper-2::-webkit-scrollbar-thumb,
.drop-wrapper::-webkit-scrollbar-thumb {
  background: #a8a5a5;
}
.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  height: 350px !important;
  padding: 0 !important;
  background-color: #f1f1f1;
}

.col-header {
  font-size: 17px;
  font-weight: 600;
  margin-top: 0;
  padding: 10px 15px;
}
.col-header-time,
.project-setting-icon {
  float: right !important;
  color: rgb(158, 155, 155);
  transition: 0.5s;
}
.project-setting-icon:hover {
  color: #000;
}
/* .task-col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
} */

.highlight-region {
  background-color: yellow;
}

.page-header {
  background-color: #054f7c;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.taskManage {
  height: 100% !important;
}
.taskManage.card {
  padding: 0 !important;
}
.taskManage.card > .row {
  justify-content: start !important;
  padding: 20px !important;
  margin: 0 !important;
}

.new_task_input {
  height: 40px;
  line-height: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.drop-wrapper:hover .new_task_input {
  opacity: 1;
}
.drop-wrapper-2:hover .new_task_input {
  opacity: 1;
}
.new_task_input {
  padding: 0 7px;
}
.new_task_input:focus {
  background-color: white;
  border-radius: 6px;
}
.week-task-header {
  margin-bottom: 1rem;
}
.dropdown-toggle::after {
  content: none;
}

.project-setting {
  padding-right: 4px !important;
}
.project-setting > svg {
  float: right !important;
}
.task-manage-hr {
  margin: 0 !important;
}
.creat-project-row {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.creat-project-div {
  float: right;
}
.creat-project-plus {
  margin-right: 8px;
}
.creat-project-div {
  cursor: pointer;
}
.create-project-modal > .modal-dialog {
  width: 30%;
}
.create-project-modal .modal-footer {
  border-top: none !important;
}
.create-project-modal input {
  margin-top: 15px;
}
.create-project-modal .btn-close {
  font-size: 13px !important;
}
.create-project-modal .modal-title {
  font-size: 19px !important;
}
.task-management-filter-row {
  padding: 0 !important;
  border-bottom: 1px solid gainsboro;
}
.task-management-filter {
  margin-top: 5px;
}
.task-item-modal-header {
  display: flex;
}
.task-item-modal-header .filter-project {
  float: right;
}

.project_item_modal .btn_repeat,
.project_item_modal .btn_repeat + div {
  display: none;
}
.color-bar-Sunday {
  background: rgb(247, 143, 179);
}
.color-bar-Monday {
  background: rgb(45, 152, 218);
}
.color-bar-Tuesday {
  background: rgb(136, 84, 208);
}
.color-bar-Wednesday {
  background: rgb(250, 130, 49);
}
.color-bar-Thursday {
  background: rgb(32, 191, 107);
}
.color-bar-Friday {
  background: rgb(235, 59, 90);
}
.color-bar-Saturday {
  background: rgb(247, 183, 49);
}
.important-modal-input-label {
  font-size: 15px !important;
}
.important-modal-input-textarea {
  border: 1px solid gainsboro;
}
.important-today-modal-footer {
  border-top: none !important;
}
.react-date-picker__clear-button,
.react-date-picker__button {
  display: none;
}
.react-date-picker__wrapper {
  border: none !important;
}
.important-today-date-picker {
  margin-right: 25% !important;
  border-color: hsl(0, 0%, 80%);
}
.important-today-date-picker:hover {
  color: #4922ff;
}
.important-today-date-picker:hover .react-date-picker__inputGroup__year,
.important-today-date-picker:hover .react-date-picker__inputGroup__day,
.important-today-date-picker:hover .react-date-picker__inputGroup__month,
.important-today-date-picker:hover .react-date-picker__inputGroup__divider {
  color: white !important;
}
