/* @font-face {
  font-family: "Proxima Soft";
  src: url("../fonts/ProximaSoft-Medium.ttf");
}
:root {
  --primary-color: rgb(62, 100, 255);
  --complete-color: #27aa80;
  --text-color: #172b4d;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}

html {
  background: rgb(0, 73, 191);
  background: linear-gradient(
    90deg,
    rgba(0, 73, 191, 1) 0%,
    rgba(190, 190, 255, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
}

body {
  color: var(--text-color);
  font-family: DM Sans !important;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
  font-family: DM Sans !important;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  font-family: DM Sans !important;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input {
  padding: 4px;
  border: 1px solid var(--disabled-color);
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.8s;
  cursor: pointer;
}
span {
  font-family: DM Sans !important;
}
button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

.item:hover {
  cursor: grab;
}
div.task-check-box > input {
  width: 18px !important;
  height: 18px !important;
  box-shadow: none !important;
  margin-left: 0 !important;
}
.item-title {
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  padding: 0 !important;
  background-color: #f1f1f1;
}

.col-header {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #d8d8d8;
}
.col-header-time {
  float: right !important;
  color: rgb(102, 102, 102);
}

.task-col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: yellow;
}

.page-header {
  background-color: #054f7c;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
} 

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031d2c;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}
.taskManage {
  height: 100% !important;
}
.taskManage > .row {
  justify-content: start !important;
}

.new_task_input {
  height: 40px;
  line-height: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.drop-wrapper:hover .new_task_input {
  opacity: 1;
}
.new_task_input:focus {
  background-color: white;
  border-radius: 6px;
}
.week-task-header {
  margin-bottom: 1rem;
}
.dropdown-toggle::after {
  content: none;
} */
