/* new even style */
.select_col {
  border-bottom: 1px solid #dee2e6;
}
.select_input {
  margin-bottom: 2rem;
}

.participant_section {
  margin-bottom: 1rem;
  font-weight: 600;
}

.participant_section h4 {
  padding: 0.8rem 0;
  font-size: 1.2rem;
}
.participant_section button {
  display: flex;
  align-items: center;
}
.participant_section button svg {
  margin-right: 0.4rem;
}

button[type="submit"] {
  font-weight: 500;
}

.invite_form_area {
  margin-top: 4.4rem;
}

.invite_form_area form,
.input_with_button {
  display: flex;
}

.input_with_button {
  align-items: center;
}

.invite_form_area form div,
.input_with_button div {
  flex-grow: 1;
}

.invite_form_area form button,
.input_with_button button {
  margin-left: 1rem;
}

.input_with_button button {
  margin-top: 0.6rem;
}

/* event card */

.card_body > div {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}

.card_body > div:first-child {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.person_selector span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.overview {
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header h4 {
  font-weight: normal;
}

.event_person_list div {
  display: flex;
  align-items: center;
}

.event_person_list div span {
  margin-right: 0.5rem;
}

.event_person_list > div {
  background-color: var(--secondary-color);
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
}

.comment .form_area {
  padding: 1rem 0;
}

.form_area form {
  display: flex;
}
.form_area div {
  flex-grow: 1;
}

.form_area textarea {
  border: none;
  border-bottom: 1px solid #dee2e6;
}

textarea::placeholder {
  font-weight: normal;
  color: #ddd;
}

.form_area button {
  margin-left: 1rem;
}

.tab_container form > div {
  padding-top: 1.2rem;
}

.tab_container .person_seletor {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.person_seletor > div {
  margin-right: 0.5rem;
}

.tab button {
  border: none;
}

.tab button.active {
  color: #212529;
}

.tab button:hover {
  border-color: #fff;
}
.nav-tabs .nav-link:hover {
  border-color: none;
}

.tab button::after {
  border: none;
}

.participants_wrapper {
  position: relative;
}

.search_result {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 86%;
  top: 68px;
  border: 1px solid #ddd;
}

.result_list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  max-height: 4.32rem;
  overflow: auto;
}

.result_list li {
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.result_list li:last-child {
  border-bottom: none;
}
.spinner_wrapper {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.participants_wrapper .participants table tr:last-child {
  border-bottom-color: #fff;
}
.participants table tbody tr th svg:hover {
  cursor: pointer;
}

.jumbotron h4 {
  padding: 1.2rem 0;
}

.jumbotron p {
  border-left: 5px solid #dee2e6;
  padding-left: 1rem;
  margin-bottom: 1rem !important;
}

.settle .settle_content {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.copyToClipboard {
  display: flex;
  justify-content: space-between;
}
