.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.repository {
  width: 16.7rem;
  height: 16.7rem;
  border-radius: 50%;
  text-align: center;
  background: #eff3fa;

  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.wave::after,
.wave::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.wave::before {
  background-color: #4318ff;
  bottom: -50%;
}

.wave::after {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    #8286ff 0%,
    #4922ff 100%
  );
  opacity: 60%;
  bottom: -60%;
}

.wave span:nth-child(1)::after,
.wave span:nth-child(1)::before {
  content: "";
  position: absolute;
}

.wave span:nth-child(1)::before {
  top: 30%;
  left: 4%;
  width: 50%;
  height: 35%;
  border-radius: 100% 10%;
  background-color: #eff3fa;
  transform: rotate(30deg);
}

.wave span:nth-child(1)::after {
  top: 39%;
  right: -15%;
  width: 60%;
  height: 40%;
  border-radius: 100% 0%;
  background-color: #4318ff;
  transform: rotate(36deg);
}
/* 
.wave span:nth-child(2)::before,
.wave span:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.wave span:nth-child(2)::before {
  bottom: -46%;
  left: -28%;
  border-radius: 50% 50% 0 0;
}

.repository span:nth-child(2)::after {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #eff3fa;
} */
