.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.repository {
  width: 16.7rem;
  height: 16.7rem;
  border-radius: 50%;
  text-align: center;
  background: #eff3fa;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.water_drops span {
  background: rgba(107, 87, 255, 1);
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  top: 55%;
  width: 0.5rem;
  height: 0.5rem;
}

.water_drops span:first-child,
.water_drops span:nth-child(2),
.water_drops span:nth-child(3) {
  left: 25%;
}
.water_drops span:nth-child(2) {
  top: 68%;
  left: 25%;
}
.water_drops span:nth-child(3) {
  top: 80%;
}
.water_drops span:nth-child(4) {
  left: 40%;
  top: 60%;
}

.reminder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-weight: 700;
  height: 50%;
  z-index: 1;
}
.reminder_percent {
  font-size: 3rem;
  line-height: 2.75rem;
}
.reminder_detail {
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 0.2rem;
}
.wave::after,
.wave::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 122%;
  left: 0;
}

.wave::after {
  background-color: #4318ff;
  left: 0%;
  bottom: -57%;
  transform: rotate(180deg);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 100%,
    1% 99.99%,
    2% 99.95%,
    3% 99.89%,
    4% 99.81%,
    5% 99.7%,
    6% 99.57%,
    7% 99.42%,
    8% 99.24%,
    9% 99.04%,
    10% 98.82%,
    11% 98.58%,
    12% 98.32%,
    13% 98.04%,
    14% 97.74%,
    15% 97.42%,
    16% 97.09%,
    17% 96.74%,
    18% 96.37%,
    19% 95.99%,
    20% 95.6%,
    21% 95.19%,
    22% 94.78%,
    23% 94.35%,
    24% 93.91%,
    25% 93.47%,
    26% 93.02%,
    27% 92.57%,
    28% 92.11%,
    29% 91.65%,
    30% 91.18%,
    31% 90.72%,
    32% 90.26%,
    33% 89.8%,
    34% 89.34%,
    35% 88.89%,
    36% 88.45%,
    37% 88.01%,
    38% 87.58%,
    39% 87.16%,
    40% 86.75%,
    41% 86.35%,
    42% 85.97%,
    43% 85.6%,
    44% 85.24%,
    45% 84.9%,
    46% 84.58%,
    47% 84.28%,
    48% 83.99%,
    49% 83.72%,
    50% 83.48%,
    51% 83.25%,
    52% 83.04%,
    53% 82.86%,
    54% 82.7%,
    55% 82.56%,
    56% 82.45%,
    57% 82.35%,
    58% 82.29%,
    59% 82.24%,
    60% 82.22%,
    61% 82.23%,
    62% 82.26%,
    63% 82.31%,
    64% 82.39%,
    65% 82.49%,
    66% 82.61%,
    67% 82.76%,
    68% 82.92%,
    69% 83.12%,
    70% 83.33%,
    71% 83.56%,
    72% 83.82%,
    73% 84.09%,
    74% 84.39%,
    75% 84.7%,
    76% 85.03%,
    77% 85.37%,
    78% 85.73%,
    79% 86.11%,
    80% 86.5%,
    81% 86.9%,
    82% 87.31%,
    83% 87.74%,
    84% 88.17%,
    85% 88.61%,
    86% 89.06%,
    87% 89.51%,
    88% 89.97%,
    89% 90.43%,
    90% 90.89%,
    91% 91.35%,
    92% 91.82%,
    93% 92.28%,
    94% 92.73%,
    95% 93.19%,
    96% 93.63%,
    97% 94.07%,
    98% 94.51%,
    99% 94.93%,
    100% 95.34%
  );
}

.wave::before {
  background: radial-gradient(
    100% 682.41% at 4.04% 0%,
    #8286ff 0%,
    #4922ff 100%
  );
  opacity: 60%;
  bottom: -63%;
  z-index: 1;
  transform: rotateX(180deg) rotateZ(360deg);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 100.37%,
    1% 100.36%,
    2% 100.33%,
    3% 100.27%,
    4% 100.19%,
    5% 100.1%,
    6% 99.98%,
    7% 99.83%,
    8% 99.67%,
    9% 99.49%,
    10% 99.29%,
    11% 99.07%,
    12% 98.83%,
    13% 98.57%,
    14% 98.3%,
    15% 98.01%,
    16% 97.7%,
    17% 97.38%,
    18% 97.04%,
    19% 96.7%,
    20% 96.34%,
    21% 95.96%,
    22% 95.58%,
    23% 95.19%,
    24% 94.79%,
    25% 94.39%,
    26% 93.97%,
    27% 93.56%,
    28% 93.14%,
    29% 92.71%,
    30% 92.29%,
    31% 91.87%,
    32% 91.44%,
    33% 91.02%,
    34% 90.6%,
    35% 90.19%,
    36% 89.78%,
    37% 89.38%,
    38% 88.99%,
    39% 88.6%,
    40% 88.23%,
    41% 87.86%,
    42% 87.51%,
    43% 87.17%,
    44% 86.84%,
    45% 86.53%,
    46% 86.24%,
    47% 85.96%,
    48% 85.69%,
    49% 85.45%,
    50% 85.22%,
    51% 85.02%,
    52% 84.83%,
    53% 84.66%,
    54% 84.51%,
    55% 84.38%,
    56% 84.28%,
    57% 84.2%,
    58% 84.13%,
    59% 84.09%,
    60% 84.08%,
    61% 84.08%,
    62% 84.11%,
    63% 84.15%,
    64% 84.22%,
    65% 84.32%,
    66% 84.43%,
    67% 84.56%,
    68% 84.72%,
    69% 84.89%,
    70% 85.09%,
    71% 85.3%,
    72% 85.54%,
    73% 85.79%,
    74% 86.06%,
    75% 86.34%,
    76% 86.64%,
    77% 86.96%,
    78% 87.29%,
    79% 87.64%,
    80% 87.99%,
    81% 88.36%,
    82% 88.74%,
    83% 89.13%,
    84% 89.52%,
    85% 89.93%,
    86% 90.34%,
    87% 90.75%,
    88% 91.17%,
    89% 91.6%,
    90% 92.02%,
    91% 92.44%,
    92% 92.87%,
    93% 93.29%,
    94% 93.71%,
    95% 94.12%,
    96% 94.53%,
    97% 94.94%,
    98% 95.33%,
    99% 95.72%,
    100% 96.1%
  );
}
