.titleHeader {
  font-weight: bolder;
  font-family: Proxima Soft;
  margin-bottom: 10px !important;
}
.custompagination {
  margin-bottom: 0px !important;
  float: right !important;
}
ul.custompagination > li {
  margin-right: 10px !important;
}
ul.custompagination > li > a {
  text-align: center;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}
.lableForm {
  margin-top: 7px !important;
  margin-right: 10px !important;
  font-weight: bold !important;
  font-size: large !important;
}
.pointer {
  cursor: pointer;
}
