.modal_header {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border-bottom: none !important;
}

.modal_header button {
  border: 1px solid #e8e8e8;
  padding: 0.3rem 0.6rem;
  border-radius: 7px;
  color: #000;
}

.modal_header button:hover {
  border-color: #000;
}

.modal_header .button {
  display: flex;
  align-items: center;
}

.modal span {
  display: block;
  margin-right: 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #ddd;
  border-radius: 50%;
}

.modal_header div:first-child {
  flex-grow: 1;
}

.modal_header > *:not(div:first-child) {
  margin-left: 0.4rem;
}

.modal label {
  font-size: 22px;
  font-weight: 600;
}

.checkbox_area label {
  display: flex;
  align-items: center;
}

.checkbox_area input {
  background-color: #efefef;
  margin-right: 0.6rem;
  border: #fff;
  padding: 0.6rem;
  margin-top: 0;
}

.modal textarea {
  border: none;
}

.dropDown_wrapper {
  position: relative;
  z-index: 1;
}

.dropDown {
  position: absolute;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  min-width: 8.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 7px;
  inset: 0px auto auto 0px;
  transform: translate(-22%, 38px);
  background-color: #fff;
  padding: 0.8rem;
  display: none;
}

.dropDown ul {
  margin: 0;
  padding: 0;
}

.dropDown li {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  white-space: nowrap;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

.dropDown li span {
  margin-right: 0.6rem;
}

.dropDown li:hover {
  background-color: #efefef;
  border-radius: 7px;
}

.dropDown h6 {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
  text-align: center;
}

.show {
  display: block;
  animation: dropDown 0.4s ease;
}

@keyframes dropDown {
  from {
    margin-top: 0.5rem;
  }
  to {
    margin-top: 0;
  }
}
